# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
myenv/
venv/
.venv/

# =========================
# Env files
# =========================
.env
*.env

# =========================
# Vector Database (RAG)
# =========================
db/
chroma/
*.sqlite3

# =========================
# Model & Cache
# =========================
.cache/
.huggingface/
*.bin

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db